# Quantitative Momentum Strategy

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.


## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from scipy import stats

## Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding. Make sure the `.csv` file is still in your working directory and import it with the following command:

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')

## Making Our First API Call

It's now time to make the first version of our momentum screener!

We need to get one-year price returns for each stock in the universe. Here's how.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

symbol = 'AAPL'
base_url = 'https://sandbox.iexapis.com/stable'
api_url = f"{base_url}/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}"
data = requests.get(api_url).json()
print(data)

{'companyName': 'Apple Inc', 'marketcap': 2529477867268, 'week52high': 157.33, 'week52low': 105.33, 'week52highSplitAdjustOnly': 151.87, 'week52lowSplitAdjustOnly': 103.2, 'week52change': 0.20732511265977543, 'sharesOutstanding': 16963857653, 'float': 0, 'avg10Volume': 83550545, 'avg30Volume': 72047610, 'day200MovingAvg': 136.61, 'day50MovingAvg': 147.38, 'employees': 150667, 'ttmEPS': 5.3, 'ttmDividendRate': 0.8496507510114868, 'dividendYield': 0.00594829737233804, 'nextDividendDate': '', 'exDividendDate': '2021-08-04', 'nextEarningsDate': '2021-10-14', 'peRatio': 28.745329694481775, 'beta': 1.58457455134613, 'maxChangePercent': 56.33834645210855, 'year5ChangePercent': 4.935959585039654, 'year2ChangePercent': 1.8993810362612822, 'year1ChangePercent': 0.26817771907674276, 'ytdChangePercent': 0.12649114413268472, 'month6ChangePercent': 0.1453424248566963, 'month3ChangePercent': 0.16898436155940175, 'month1ChangePercent': 0.016097174457123237, 'day30ChangePercent': 0.020748570139452336, 'day5ChangePercent': -0.006307602095489951}

## Parsing Our API Call

This API call has all the information we need. We can parse it using the same square-bracket notation as in the first project of this course. Here is an example.

In [4]:
data['year1ChangePercent']

0.26817771907674276

## Executing A Batch API Call & Building Our DataFrame

Just like in our first project, it's now time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called `chunks` that we can use to divide our list of securities into groups of 100.

In [5]:
# Function sourced from 
# https://stackoverflow.com/questions/312443/how-do-you-split-a-list-into-evenly-sized-chunks
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]   
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
#     print(symbol_strings[i])

# for symbol_string in symbol_strings:
#     print(symbol_string)

my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank DataFrame and add our data to the data frame one-by-one.

In [6]:
def momentum_data():
    dataframe = pd.DataFrame(columns = my_columns)

    for symbols in symbol_strings:
        # print(symbols)
        api_url = f"{base_url}/stock/market/batch?symbols={symbols}&types=stats,price&token={IEX_CLOUD_API_TOKEN}"
        data = requests.get(api_url).json()
        # print(data['AAPL'])
        # print(data['AAPL']['stats'])

        for symbol in symbols.split(','):
            price = data[symbol]['price']
            # year1ChangePercent = data[symbol]['stats']['year1ChangePercent'],
            buy_count = 'N/A'

            dataframe = dataframe.append(
                pd.Series(
                    [symbol, price, data[symbol]['stats']['year1ChangePercent'], buy_count],
                    index = my_columns
                ),
                ignore_index = True
            )

    return dataframe

final_dataframe = momentum_data()
print(final_dataframe)

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  172.32              0.736284                     N/A
1      AAL   19.40                  0.49                     N/A
2      AAP  216.52              0.356529                     N/A
3     AAPL  148.39              0.268905                     N/A
4     ABBV  118.94              0.323829                     N/A
..     ...     ...                   ...                     ...
500    YUM  139.43              0.444353                     N/A
501    ZBH  148.65              0.070172                     N/A
502   ZBRA  592.31              1.069212                     N/A
503   ZION   54.32              0.760175                     N/A
504    ZTS  210.50              0.319977                     N/A

[505 rows x 4 columns]

## Removing Low-Momentum Stocks

The investment strategy that we're building seeks to identify the 50 highest-momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 50.

In [7]:
final_dataframe.sort_values('One-Year Price Return', ascending=False, inplace=True)
final_dataframe = final_dataframe[:50] # Dump all but the first 50
final_dataframe.reset_index(inplace=True)
final_dataframe

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     275     LB   80.71               2.36007                     N/A
1     272    KSS   58.82              2.090215                     N/A
2     441    TPR   40.97              1.912747                     N/A
3     344    NUE  118.89              1.683005                     N/A
4     106    COF  173.91              1.671197                     N/A
5     129    DFS  130.64              1.616898                     N/A
6     253    IVZ   24.41              1.511331                     N/A
7     148    DVN   26.10              1.493555                     N/A
8      23    ALB  222.64              1.480208                     N/A
9     453    UAA   24.11               1.45961                     N/A
10    251     IT  309.90              1.415294                     N/A
11     24   ALGN  714.57              1.344862                     N/A
12    410   SIVB  563.30              1.317827                     N/A
13    179    FCX   32.90              1.302606                     N/A
14    452     UA   20.15              1.297171                     N/A
15    306    MHK  206.69              1.277346                     N/A
16    195   FTNT  300.45              1.233591                     N/A
17    245    IPG   36.45              1.175613                     N/A
18    407   SCHW   74.03              1.158045                     N/A
19     82   CBRE   93.01               1.15075                     N/A
20    417    SPG  131.67              1.138198                     N/A
21    384    PVH  108.46              1.121088                     N/A
22    426    SYF   51.00              1.108766                     N/A
23    111   COTY    8.23              1.105672                     N/A
24    318     MS  102.12               1.07024                     N/A
25    502   ZBRA  592.31              1.069212                     N/A
26    210     GS  406.47              1.042323                     N/A
27     29   AMAT  128.90              1.040166                     N/A
28    352    OKE   51.13              1.034655                     N/A
29    198     GE  102.98              1.028188                     N/A
30    482    WFC   48.24              1.025769                     N/A
31    317    MRO   10.74              1.014205                     N/A
32    342   NTAP   82.93              0.999425                     N/A
33    208    GPS   29.44               0.99487                     N/A
34    185   FITB   39.31              0.987664                     N/A
35    385    PWR  100.10              0.970431                     N/A
36     51    AVY  227.31              0.968404                     N/A
37    265    KIM   21.82              0.955642                     N/A
38    216    HCA  251.45              0.941727                     N/A
39     78   CARR   56.16              0.941027                     N/A
40     98    CMA   71.30              0.934441                     N/A
41    450    TXT   71.56               0.92424                     N/A
42    462    URI  335.20              0.915132                     N/A
43    233    HWM   31.91              0.913658                     N/A
44     18    AIG   54.90              0.913045                     N/A
45    396    RJF  136.63              0.912914                     N/A
46    285    LNC   68.86              0.911644                     N/A
47    256    JCI   76.30              0.910408                     N/A
48    394     RF   20.59              0.909852                     N/A
49    477    WAT  413.20              0.898022                     N/A

## Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

Since we've already done most of the work on this, try to complete the following two code cells without watching me do it first!

In [10]:
def portfolio_input():
    global portfolio_size

    portfolio_size = 1000000 # input('Enter the value of your portfolio:')

    try:
        float(portfolio_size)
    except ValueError:
        print('Portfolio size should be an integer.')
        portfolio_size = input('Enter the value of your portfolio:')
        float(portfolio_size)

portfolio_input()
print(portfolio_size)

1000000

In [15]:
position_size = float(portfolio_size) / len(final_dataframe.index)

for i in range(0, len(final_dataframe.index)):
    buy_count =  math.floor(position_size / final_dataframe.loc[i, 'Price'])
    final_dataframe.loc[i, 'Number of Shares to Buy'] = buy_count

final_dataframe

    index Ticker   Price One-Year Price Return Number of Shares to Buy
0     275     LB   80.71               2.36007                     247
1     272    KSS   58.82              2.090215                     340
2     441    TPR   40.97              1.912747                     488
3     344    NUE  118.89              1.683005                     168
4     106    COF  173.91              1.671197                     115
5     129    DFS  130.64              1.616898                     153
6     253    IVZ   24.41              1.511331                     819
7     148    DVN   26.10              1.493555                     766
8      23    ALB  222.64              1.480208                      89
9     453    UAA   24.11               1.45961                     829
10    251     IT  309.90              1.415294                      64
11     24   ALGN  714.57              1.344862                      27
12    410   SIVB  563.30              1.317827                      35
13    179    FCX   32.90              1.302606                     607
14    452     UA   20.15              1.297171                     992
15    306    MHK  206.69              1.277346                      96
16    195   FTNT  300.45              1.233591                      66
17    245    IPG   36.45              1.175613                     548
18    407   SCHW   74.03              1.158045                     270
19     82   CBRE   93.01               1.15075                     215
20    417    SPG  131.67              1.138198                     151
21    384    PVH  108.46              1.121088                     184
22    426    SYF   51.00              1.108766                     392
23    111   COTY    8.23              1.105672                    2430
24    318     MS  102.12               1.07024                     195
25    502   ZBRA  592.31              1.069212                      33
26    210     GS  406.47              1.042323                      49
27     29   AMAT  128.90              1.040166                     155
28    352    OKE   51.13              1.034655                     391
29    198     GE  102.98              1.028188                     194
30    482    WFC   48.24              1.025769                     414
31    317    MRO   10.74              1.014205                    1862
32    342   NTAP   82.93              0.999425                     241
33    208    GPS   29.44               0.99487                     679
34    185   FITB   39.31              0.987664                     508
35    385    PWR  100.10              0.970431                     199
36     51    AVY  227.31              0.968404                      87
37    265    KIM   21.82              0.955642                     916
38    216    HCA  251.45              0.941727                      79
39     78   CARR   56.16              0.941027                     356
40     98    CMA   71.30              0.934441                     280
41    450    TXT   71.56               0.92424                     279
42    462    URI  335.20              0.915132                      59
43    233    HWM   31.91              0.913658                     626
44     18    AIG   54.90              0.913045                     364
45    396    RJF  136.63              0.912914                     146
46    285    LNC   68.86              0.911644                     290
47    256    JCI   76.30              0.910408                     262
48    394     RF   20.59              0.909852                     971
49    477    WAT  413.20              0.898022                      48

## Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

* High-quality momentum stocks show "slow and steady" outperformance over long periods of time
* Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.

The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of: 

* 1-month price returns
* 3-month price returns
* 6-month price returns
* 1-year price returns

Let's start by building our DataFrame. You'll notice that I use the abbreviation `hqm` often. It stands for `high-quality momentum`.

## Calculating Momentum Percentiles

We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

* `One-Year Price Return`
* `Six-Month Price Return`
* `Three-Month Price Return`
* `One-Month Price Return`

Here's how we'll do this:

## Calculating the HQM Score

We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic mean, we will use the `mean` function from Python's built-in `statistics` module.

## Selecting the 50 Best Momentum Stocks

As before, we can identify the 50 best momentum stocks in our universe by sorting the DataFrame on the `HQM Score` column and dropping all but the top 50 entries.

## Calculating the Number of Shares to Buy

We'll use the `portfolio_input` function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

## Creating the Formats We'll Need For Our .xlsx File

You'll recall from our first project that formats include colors, fonts, and also symbols like % and $. We'll need four main formats for our Excel document:

* String format for tickers
* \$XX.XX format for stock prices
* \$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

Since we already built our formats in the last section of this course, I've included them below for you. Run this code cell before proceeding.

In [8]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = writer.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

NameError: name 'writer' is not defined

## Saving Our Excel Output

As before, saving our Excel output is very easy: